h1{
    /* color: #0000FF;
    border-color: purple;
    border-width: 5px;
    border-style: solid; */

    border: 5px dashed green;
}
li{
    color: rgb(255, 0, 235);
}
h4{
    background: indigo;
    color: rgb(8, 243, 8);
}
body{
    background: pink;
    /* background: url(https://gfx.antyradio.pl/var/antyradio/storage/images/film/duperele/avengers-endgame-co-nowy-zwiastun-mowi-o-fabule-filmu-marvela-30647/2312053-1-pol-PL/Avengers-Endgame-co-nowy-zwiastun-mowi-o-fabule-filmu-Marvela_article.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}